* {
    margin: 0;
}

header{
    background-color: black;
    height: 100px;
}

h1{
    color: red;
}
a{
    color: #c50e0e;
    text-decoration: none;
}
div{
    border: solid 1px #470a81;
    width: 500px;
    border-radius: 10px;
}
img{
    width: 500px;
    border-radius: 10px;
}
figcaption{
    color: #470a81;
    font-size: 15px;
}